@model lolapdp.Models.User

@{
    ViewData["Title"] = "Delete User";
}

<h1>Delete User</h1>

<div class="card">
    <div class="card-body">
        <h3>Are you sure you want to delete this user?</h3>
        <div class="mb-3">
            <dl class="row">
                <dt class="col-sm-3">Username</dt>
                <dd class="col-sm-9">@Model.Username</dd>
                
                <dt class="col-sm-3">Role</dt>
                <dd class="col-sm-9">@Model.Role</dd>
            </dl>
        </div>
        
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-danger">Delete</button>
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </form>
    </div>
</div>
